<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366489758303-12qsj2d4inf7gs1627f96mrko4np351i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366489758303-12qsj2d4inf7gs1627f96mrko4np351i</string>
	<key>API_KEY</key>
	<string>AIzaSyDT9jQaefCZbFmr61Q1skfwQ_F_v6apBSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>366489758303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginProjectTest1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fotokopimenuapp-9595e</string>
	<key>STORAGE_BUCKET</key>
	<string>fotokopimenuapp-9595e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366489758303:ios:d6d4ff544b23e8c5f309ea</string>
	<key>DATABASE_URL</key>
	<string>https://fotokopimenuapp-9595e-default-rtdb.firebaseio.com</string>
</dict>
</plist>